/* Name: Treyana Reed, GSI: GE */

header > a{
    position: absolute;
    left: -50%;
    top: auto;
    height: 25px;
    background-color: white;
 }
 
 header > a:focus{
     position: static;
     top: 10px;
     width: auto;            
     height: auto;   
    text-decoration: underline;    
 } 
 
 .gallery{
    display: grid;
    background-color: orange;
    width: 84%;
    margin: auto;
    grid-template-columns: 23% 23% 23%;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    
 }

 .gallery img{
    border: 5px dashed black;
    width: auto;
 }